* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #0f1720;
  --card: #ffffff;
  --accent: #6ee7b7;
  --text: #000000;
  --muted: #2c2f30;
  --radius: 10px;
}

body {
  font-family: "inter", sans-serif;
  color: var(--text);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  flex-direction: column;
}

.container {
  width: 100%;
  border: 2px solid rgb(228, 223, 223);
  max-width: 680px;
  background-color: var(--card);
  padding: 22px;
  border-radius: var(--radius);
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0 0 12px 0;
  font-size: 1.95rem;
}

.moredecs {
  color: rgb(147, 147, 147);
  margin: 0 0 12px 0;
}

.more {
  color: orange;
}

label {
  display: block;
  margin: 0.95rem 0 0.95rem 0;
  color: var(--muted);
  font-size: 0.95rem;
}

input[type="number"],
select {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid rgba(94, 94, 94, 0.282);
  background-color: transparent;
  color: var(--text);
  font-size: 1rem;
}

.actions {
  display: flex;
  gap: 8px;
  margin-top: 14px;
}

button {
  background: var(--accent);
  font-family: inherit;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  width: 50%;
  transition: all 0.3s ease;
}
button:nth-child(1) {
  background-color: blue;
  color: white;
  transition: all 0.2s ease;
}
button:nth-child(1):hover {
  background-color: rgb(6, 6, 192);
}
button:nth-child(3):hover {
  background-color: rgb(1, 135, 106);
}

button[title] {
  background: transparent;
  color: var(--muted);
  border: 1px solid rgba(52, 50, 50, 0.638);
}

.result {
  margin-top: 16px;
  padding: 18px;
  border-radius: 8px;
  border: 1px solid;
  background: transparent;
  color: var(--text);
  font-weight: 600;
}

.notes {
  margin-top: 18px;
  color: var(--muted);
  font-size: 0.92rem;
  padding: 12px;
  background-color: rgba(128, 128, 128, 0.095);
  border-radius: 5px;
}

li {
  list-style: none;
  margin-bottom: 12px;
}

footer {
  margin-top: 2rem;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: var(--muted);
}
a:hover {
  text-decoration: underline;
}
